PORT=5001
NODE_ENV=production

# Base de données (Paramètres réels configurés à partir de votre image de base)
DATABASE_URL="mysql://karoch9748_karo:hwR31_%25eG_xB@localhost:3306/karoch9748_karochebamadb"

# Clés Secrètes JWT
JWT_ACCESS_SECRET="karochebama_production_access_key_9748"
JWT_REFRESH_SECRET="karochebama_production_refresh_key_9748"
JWT_ACCESS_EXPIRATION="15m"
JWT_REFRESH_EXPIRATION="7d"

# URL du frontend
FRONTEND_URL="http://localhost:5173"
